

body{
 padding:0;
 margin:10px;
 font-family:sans-serif;
}
.box{
 position:absolute;
 left:50%;
 top:50%;
 transform:translate(-50%,-50%);
 width:400px;
 padding:40px;
 box-sizing:border-box;
 background:#336699;
 box-shadow:0 15px 25px rgba(0,0,0,0.5);
 border-radius:10px;
}
#registration{
 position:relative;
}
#button{
 width:100%;
 padding:10px 0;
 color:#000;
 font-size:16px;
 outline:none;
 border-radius:5px;
}
#ph{
 width:50px;
 padding:10px;
 font-size:16px;
 border-radius:5px;
 outline:none;
}
#phone{
 width:240px;
 padding:10px;
 font-size:16px;
 border-radius:5px;
 outline:none;
}
#but{
 border:none;
 color:black;
 background:3399CC;
 padding:10px;
 cursor:pointer;
 border-radius:5px;
}
